body {
  font: 15px/1.33 Lato, 'LiberationSansRegular', 'Liberation Sans', Arial, 'Helvetica Neue', FreeSans, sans-serif;
  margin: 0;
  color: #193559;
  margin-left: 10px;
  margin-right: 10px;
}
h1 {
  font-size: 2em;
  border-bottom: 2px solid #f28627;
}
h1 .favourite, h1 .unfavourite {
  padding-left: 1em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  margin-top: 1em;
}
h4 {
  margin-bottom: 0;
  border-bottom: 2px solid lightgrey;
}
h1, h2, h3 {
  clear: both;
  text-shadow: 0 2px 2px lightgray;
}
h2, h3 {
  border-bottom: 2px solid lightgrey;
}
.quicksearch {
  width: 100%;
}
.quicksearch td, .quicksearch th {
  padding: 0.3em;
  text-align: center;
  vertical-align: middle;
}
.quicksearch tbody tr:nth-child(2n) {
  background-color: #cae0ed;
}
.quicksearch tbody tr:nth-child(2n+1) {
  background-color: #f8f8f8;
}
.quicksearch tbody tr td {
  font-size: 150%;
}
.quicksearch tbody tr td:first-child {
  font-size: 100%;
}
.quicksearch th {
  text-align: center;
  font-weight: bold;
}
.quicksearch th img {
  width: 32px;
  height: 32px;
}
.quicksearch tr th:first-child, .quicksearch tr td:first-child {
  text-align: left;
  min-width: 75%;
  width: 80%;
}
.quicksearch .source {
  vertical-align: top;
}
.quicksearch .source .title {
  font-size: 120%;
  padding: 0;
  margin: 0;
  font-style: normal;
}
.quicksearch .source img {
  margin-right: 1em;
  vertical-align: top;
  display: inline-block;
}
.quicksearch .source .item {
  display: inline-block;
  width: 90%;
}
.quicksearch .source .item-description {
  margin: 0;
}
.quicksearch .source .item-description > * {
  padding: 0;
  margin: 0;
}